<mat-toolbar class="mat-elevation-z2">
    <img mat-card-image src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Adesso_AG_logo.svg/2000px-Adesso_AG_logo.svg.png" class="logo">
    <div style="width: 45%;height: 100%; margin-left: 20px">
        <div class="header-search" style="width: 100%; padding: 14px;height: 100%;">
            <input type="text" name="searchField" placeholder="Search" style="width: 100%; height: 100%;">
        </div>
    </div>
    <a [routerLink]="['/login']" mat-list-item>
        <mat-icon mat-list-icon material-icons>exit_to_app </mat-icon>
    </a>
</mat-toolbar>
 
     
      