<mat-toolbar class="mat-elevation-z2">
  <img
    mat-card-image
    [routerLink]="['/home/content']"
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f7/Adesso_AG_logo.svg/2000px-Adesso_AG_logo.svg.png"
    class="logo"
  />
  <app-search-bar
    style="width: 45%;height: 100%; margin-left: 20px"
  ></app-search-bar>
  <a [routerLink]="['/home/summary']" class="mat-list-item-left">
    <i class="material-icons"> list_alt </i>
  </a>
  <a [routerLink]="['requested']" class="mat-list-item-left">
    <mat-icon mat-list-icon material-icons>ballot</mat-icon>
  </a>
  <span class="fill-space"></span>
  <div class="icons">
      <a [routerLink]="['history']" class="mat-list-item-right">
          <mat-icon mat-list-icon material-icons class="margin-right: 12px;">history </mat-icon>
      </a>
      <a [routerLink]="['/login']" class="mat-list-item-right">
          <mat-icon mat-list-icon material-icons>exit_to_app </mat-icon>
      </a>
  </div>
</mat-toolbar>
