.mat-toolbar {
    background: #4a89dc;
}

.logo {
    background: white;
    width: 144px;
}

.mat-card-image:first-child {
    margin-top: 34px;
    padding-bottom: 24px;
    padding-top: 2px;
}

.mat-list-item-right {
    color: white;
    margin-top: 8px;
}

.mat-list-item-left {
    color: white;
    margin-top: 8px;
}

.requestetBtn {
    background-color: #eeeeee;
}

.material-icons {
    margin-right: 20px;
    font-size: 30px;
}

.fill-space {
    flex: 1 1 auto;
}