.button-style {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  width: 35%;
  margin: 2rem;
}
.listComponent {
  color: #eeeeee;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.listItem {
  display: flex;
  padding: 0.5rem;
  //width: 12rem;
}

.centerHeader {
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.image {
  display: block;
  margin: auto;
  width: 8rem;
}

.likeButton,
.shareButton {
  background-color: #eeeeee;
  width: 5rem;
}

.shareButton {
  margin: 0 0 0 0.8rem !important;
}

.card-fix {
  padding: 0;

  .card-fix-container {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 12rem;

    .mat-card-avatar {
      height: 0;
      width: 0;
    }

    .mat-card-content {
      display: block;
      margin: 2rem 1.1rem 0.6rem 1.1rem;
    }

    & > .mat-card-actions:last-child {
      display: block;
      margin: auto auto 0.6rem auto;
      padding-bottom: 0;
    }
  }
}
