
<app-header></app-header>
<mat-sidenav-container class="example-container">
        <mat-sidenav mode="side" opened>
          <mat-nav-list>
            <mat-accordion>
              <mat-expansion-panel class="mat-elevation-z0" expanded=[true]>
                <mat-expansion-panel-header  [expandedHeight]="'48px'">
                  <mat-panel-title>Categories</mat-panel-title>
                </mat-expansion-panel-header>
                <mat-nav-list>
                  <mat-accordion>
                    
                      <a mat-list-item class="matListItem" (click)="clear()">
                          <span mat-line>Alle</span>
                        </a>
                    <a mat-list-item class="matListItem" (click)="filterCoffee()">
                      <span mat-line>Kaffee</span>
                    </a>
                    <a mat-list-item class="matListItem" (click)="filterTea()">
                      <span mat-line>Tee</span>
                    </a>
                    <a mat-list-item class="matListItem" (click)="filterFruits()">
                      <span mat-line>Obst</span>
                    </a>
                    <a mat-list-item class="matListItem" (click)="filterOther()">
                      <span mat-line>Andere</span>
                    </a>
                  </mat-accordion>
                </mat-nav-list>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-nav-list>
        </mat-sidenav>
        
        <!-- This is the Main Content of the page  -->
        <mat-sidenav-content>            
          <router-outlet></router-outlet>
        </mat-sidenav-content>
      </mat-sidenav-container>