.mat-list-item {
    font-size: 15px;
}

.mat-list-nav {
    padding-top: 0;
}

.mat-expansion-panel-spacing {
    margin: 0;
}

.mat-sidenav-content {
    overflow-y: hidden;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.matIcon {
    margin: auto auto 12px auto;
}

.mat-drawer {
    flex-direction: column;
    display: flex;
   > .mat-drawer-inner-container {
        flex-direction: column;
        display: flex;
    }
    }