
 <ul class="listComponent">
    <li class="listItem" *ngFor="let item of filteredItems">
        <mat-card class="card-fix">
          <div class="card-fix-container">
            <mat-card-header class="centerHeader">
              <mat-card-title>
                <p class="centerHeader">{{ item.name }}</p>
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ item.pictureUrl }}" class="image">
            <mat-card-content>
                {{ item.description }}
            </mat-card-content>
            <mat-card-actions>
              <button mat-button [disabled]="item.isDisabled" (click)="likeAnItem(item)" class="likeButton">LIKE</button>
              <button mat-button class="shareButton">SHARE</button>
            </mat-card-actions>
          </div>
        </mat-card>
    </li>
  </ul>