<ul class="listComponent">
    <li class="listItem" *ngFor="let summary of weeklyVotedItems">
      <div class="card">
        <p class="weekHeader">{{ summary.week }}</p>
        <div class="itemsRow">
        <ul class="listItem" *ngFor="let item of summary.items">
        <mat-card class="card-fix">
          <div class="card-fix-container">
            <mat-card-header class="centerHeader">
              <mat-card-title>
                <p class="centerHeader">{{ item.name }}</p>
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="{{ item.pictureUrl }}" class="image">
            <mat-card-content>
                {{ item.description }}
            </mat-card-content>
          </div>
        </mat-card>
      </ul>
    </div>
    </div>
    </li>
  </ul>